* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.wrapper {
    margin: 0 auto;
    max-width: 1663px;
    height: 100%;
}
.container {
    margin: 0 auto;
    max-width: 984px;
}
.lang-bar {
    background: #3c3c3c;
    height: 31px;
    width: 100%;
}
header {
    height: 80px;
}
header > div {
    display: inline-block;
}
header > button {
    float: right;
}
.banner {
    height: 400px;
    background: #efefef;
    width: 100%;
}
.banner .container {
    padding-top: 20px;
}
.b-img {
    float: left;
    margin-right: 5px;
    position: relative;
    left: -70px;
}
.benefits {
    padding-top: 85px;
}
.benefits .container > div {
    display: table;
}
.benefits .container > div > div {
    display: table-cell;
}
.benefits h1 {
    font-size: 30px;
    font-weight: bold;
}
.benefits h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.benefits > div > div {
    border-bottom: 1px  solid #ebebeb;
    width: 100%;
}
.caption {
    text-align: center;
}
.ads, .adbl {
    padding-right: 50px;
}
