* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
}
.main-wrap {
    max-width: 1600px;
}
.second-wrap {
    max-width: 1115px;
    padding: 0 10px;
}
header {
    background: url('img/header-bg.png');
    width: 100%;
    height: 753px;
    margin-bottom: 30px;
}
.logo {
    padding: 62px 0 110px;
}
.header-nav {
    background: url('img/header-bg-photo.png') center no-repeat;
    height: 352px;
    transition-duration: 0.8s;
}
.m-line > div {
    display: inline-block;
    transition-duration: 0.8s;
}
.m-line > div:nth-child(even) {
    float: right;
}
.m-line > div:nth-child(even)::after {
    display: table;
    content: '';
    clear: both;
}
.m-line:first-child > div {
    margin: 30px 30px 20px 30px;
}
.m-line:nth-child(2) > div {
    margin: 88px -1px 65px -1px;
}
.m-line:nth-child(3) > div {
    margin: 42px 30px 0 30px;
}
.sidebar {
    background: url('img/aside-bg.png') center no-repeat;
    height: 1060px;
    float: right;
    width: 270px;
}
.second-wrap::after {
    display: table;
    content: '';
    clear: both;
    float: none;
}
footer {
    background: #f5f5f5;
    margin-top: 30px;
    height: 300px;
}
.copy {
    text-align: center;
    padding-top: 156px;
    font-size: 13px;
}

