* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
}
.main-wrap {
    max-width: 1600px;
}
.second-wrap {
    max-width: 1115px;
    padding: 0 10px;
}
header {
    background: url('img/header-bg.png');
    width: 100%;
    height: 753px;
    margin-bottom: 30px;
}
.logo {
    padding: 62px 0 110px;
    transition-duration: 0.8s;
}
.header-nav {
    background: url('img/header-bg-photo.png') center no-repeat;
    height: 352px;
    transition-duration: 0.8s;
}
.m-line > div {
    display: inline-block;
    transition-duration: 0.8s;
    cursor: pointer;
}
.m-line > div:hover {
    color: #fff;
}
.m-line > div:nth-child(even) {
    float: right;
}
.m-line > div:nth-child(even)::after {
    display: table;
    content: '';
    clear: both;
}
.m-line:first-child > div {
    margin: 30px 30px 20px 30px;
}
.m-line:nth-child(2) > div {
    margin: 88px -1px 65px -1px;
}
.m-line:nth-child(3) > div {
    margin: 42px 30px 0 30px;
}
.container {
    max-width: 730px;
    display: inline-block;
    vertical-align: top;
    margin-right: 88px;
    transition-duration: 0.8s;
}
.media {
    background: url('img/container.png');
    height: 190px;
    width: 100%;
    display: inline-block;
}
.media > div {
    display: inherit;
}
.container > div {
    display: inline-block;
    font-size: 18px;
}
.photo {
    margin: 0 12px 0 36px;
}
.info {
    max-width: 410px;
    margin-top: 25px;
}
.info p {
    font-size: 18px;
}
.info h3 {
    margin-bottom: 20px;
    font-size: 18px;
}
.social {
    background: url('img/purple-container.png');
    height: 100%;
    width: 137px;
    text-align: center;
    color: #fff;
    position: relative;
    left: 5px;
}
.social > div:nth-child(even) {
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-top: 10px;
    cursor: pointer;
    transition-duration: 0.8s;
}
.social > div:nth-child(even):hover {
    background: #fff;
    color: #000;
    transition-duration: 0.8s;
    border: 2px solid #000;
}
.social > div:nth-child(odd) {
    margin: 5px 0;
}
.center {
    text-align: center;
}
.info-block {
    display: inline-block;
    max-width: 350px;
    font-size: 14px;
    margin-top: 45px;
    vertical-align: top;
    cursor: pointer;
}
.info-block h3 {
    font-size: 24px;
    text-align: center;
    margin: 30px 0 20px 0;
}
.info-block > p {
    font-size: 14px;
}
.info-block:nth-child(odd) {
    margin-right: 25px;
}
.info-block:last-child {
    height: 350px;
    width: 350px;
    cursor: auto;
}
.info-block a {
    text-decoration: none;
    position: relative;
    top: 130px;
}
.order {
    background: url('img/order-bg.png') center no-repeat;
    width: 250px;
    height: 70px;
    cursor: pointer;
    color: #000;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 30px;
    transition-duration: 0.8s;
}
.info-block a:hover .order {
    color: #fff;
    transition-duration: 0.8s;
}
.info-block:hover img {
    content: url('img/teal-container.png');
}
.sidebar {
    background: url('img/aside-bg.png') center no-repeat;
    height: 1056px;
    display: inline-block;
    width: 270px;
    text-align: center;
    padding: 20px;
}
.second-wrap::after {
    display: table;
    content: '';
    clear: both;
    float: none;
}
footer {
    background: url('img/footer-bg.png');
    margin-top: 30px;
    height: 300px;
}
.copy {
    text-align: center;
    padding-top: 156px;
    font-size: 13px;
}

