@font-face {
    font-family: 'Proxima Nova Extra Condensed Extra Bold';
    src: url('../fonts/ProximaNovaExCn-Extrabld.eot');
    src: local('☺'),
         url('../fonts/ProximaNovaExCn-Extrabld.eot?#iefix') format('eot'),
         url('../fonts/ProximaNovaExCn-Extrabld.woff') format('woff'),
         url('../fonts/ProximaNovaExCn-Extrabld.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Solomon Sans Black';
    src: url('../fonts/Solomon Sans.ttf');
    src: local('☺'),
         url('../fonts/Solomon Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}