@media screen and (max-width:1023px) {
    .container {
        padding: 0 10px;
    }
    .browsers {
        text-align: center;
    }
    .browsers > div {
        margin: 2px auto;
       width: 300px;
    }
    .mozilla {
        margin-left: -14px;
    }
    .ie {
        margin-left: -2px;
    }
    .opera {
        margin-left: -40px;
    }
    .me {
        margin-left: -14px;
    }
    .ya {
        margin-left: 4px;
    }
    .google {
        margin-left: -4px;
    }
/*
    #adbl, #ads {
        display: none;
    }
    .ads, .adbl {
        padding: 0;
        display: none;
    }
*/
}
@media screen and (max-width:412px) {
    header button div:first-child {
        position: relative;
        bottom: -2px;
        left: 1px;
    }
    header button div:nth-child(2) {
        position: relative;
        top: -5px;
        left: 1px;
    }
    header button {
        width: 130px;
        padding: 0;
        left: 0;
    }
    .dropdown-content {
        width: 120px;
    }
    .b-img img {
        width: 95%;
    }
    .b-img {
        float: none;
        margin: 0; 
        position: inherit; 
        left: 0;
    }
    h1 {
        font-size: 29px;
    }
    .banner {
        text-align: center;
    }
    .benefits {
        display: none;
    }
    .benefits-m {
        display: block;
    }
    .benefits-m .container > div > div {
        margin: 25px 0 10px 0;
    }
    .benefits-m .container {
        text-align: right;
    }
    .collum {
        display: inline-block;
        text-align: center;
    }
    .collum div:first-child {
        font-family: 'Proxima Nova Extra Condensed Extra Bold';
        text-transform: uppercase;
        font-size: 19px;
    }
    .collum:first-child {
        max-width: 115px;
        text-align: left;
        font-weight: bold;
        font-family: 'Proxima Nova Extra Condensed Extra Bold';
        text-transform: uppercase;
        float: left;
    }
    .collum:first-child > div:first-child {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
    }
    .collum > div{
        height: 65px;
    }
    .collum:last-child {
        margin-left: 40px;
    }
    .collum img {
        padding-top: 10px;
    }
    .target-m {
        width: 50px;
    }
    .benefits-m::after {
        content: '';
        display: table;
        clear: both;
    }
    .browsers > div {
        width: 100%;
    }
    .list h3 {
        text-align: center;
    }
}
