* {
  margin: 0;
  padding: 0; }

body {
  padding: 15px;
  text-align: center;
  margin: 0 auto; }

.modal-bg {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.modal {
  width: 50%;
  max-width: 500px;
  top: 15%;
  background: #fff;
  position: absolute;
  padding: 20px;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s; }

@-webkit-keyframes drop {
  from {
    opacity: 0;
    top: 0%; }
  to {
    opacity: 1;
    top: 15%; } }

@keyframes drop {
  from {
    opacity: 0;
    top: 0%; }
  to {
    opacity: 1;
    top: 15%; } }

.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.modal-body {
  margin: 15px;
  line-height: 1.5;
  text-align: justify; }

.modalCloseBtn {
  cursor: pointer; }

.cross {
  font-size: 50px;
  color: #000; }

button {
  border: none;
  padding: 15px 50px;
  background: #ff7726;
  color: #fff;
  -webkit-border-radius: 22px;
          border-radius: 22px;
  margin: 25px;
  font-weight: bold;
  cursor: pointer; }
