* {
  font-size: 14px;
  font-family: sans-serif; }

body {
  margin: 0; }

.inner {
  margin: auto;
  max-width: 1200px;
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.heading {
  position: relative; }
  .heading a {
    text-decoration: none; }
    .heading a h3 {
      color: #ff0e00;
      font-size: 24px; }
  .heading a::before {
    content: '';
    bottom: 22px;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ff0e00;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0); }
  .heading a:hover:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1); }

header {
  width: 100%;
  background-color: #1f2833;
  padding: 60px 0 50px 0; }
  header h1 {
    color: #fff;
    font-size: 25px; }
  header .inner br {
    display: none; }
  header .inner div {
    margin: 0; }
  header .inner .logo {
    margin-right: 70px; }

.news .heading {
  border-bottom: 1px solid #000;
  display: block;
  width: 100%; }
