@media screen and (max-width: 797px) {
    .logo {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    .skype {
        left: 48%;
    }
}
@media screen and (max-width: 420px) {
    .menu {
        display: block;
        padding: 0;
        margin: 20px 0;
    }
    .skype {
        left: 44%;
    }
}