* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-wrap {
    max-width: 1600px;
}
.second-wrap {
    max-width: 1115px;
    padding: 0 20px;
}
/*хедер*/
header {
    background: #185CFF;
    min-height: 100px;
    height: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}
.logo {
    position: relative;
    top: 5px;
    margin-right: 20px;
}
.menu {
    display: inline-block;
    padding-right: 20px;
    font-size: 40px;
    color: #fff;
    transition-duration: .8s;
    cursor: pointer;
}
.menu:hover {
    color: #FFC818;
    transition-duration: .8s;
}
/*конец хедера*/
/*блок*/
.skype
{
    position: fixed;
    top: 45%;
    left: 48%;
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    cursor: pointer;
    
    z-index: 100;

    display: flex;

    width: 100px;
    height: 100px;
    
    background:#f7f5f8;
    background-image: url('img/skype.png');
    background-position: center; 
    background-repeat: no-repeat;
    border: 5px solid #185CFF;
    border-radius: 100%;
}
.skype:before
{
    font-size: 1.1em;
    font-weight: bold;

    position: absolute;
    z-index: 3;
    right: -2px;
    bottom: -2px;

    display: flex;

    box-sizing: border-box;
    width: 40%;
    height: 40%;

    content: counter(circle-2-counter);
    counter-increment: circle-2-counter;

    color: #b09eb7;
    border-radius: 100%;
    background:#f7f5f8;

    align-items: center;
    justify-content: center;
}
.skype:after
{
    position: absolute;
    z-index: 2;
    right: -7px;
    bottom: -7px;

    box-sizing: border-box;
    width: 50%;
    height: 50%;

    content: '';

    border: 5px solid #185CFF;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-radius: 100%;
}
.container {
    padding-top: 40px;
    text-align: center;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 80px;
}
/*анимация скайп иконки*/
    @keyframes shake {
0% {
    transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
}
}
/*конец анимации*/
.container > div {
    display: inline-block;
    width: 200px;
    height: 100%;
    cursor: pointer;
    text-align: justify;
    margin: 40px;
    transition-duration: .8s;
}
.container > div > p {
    padding: 10px;
}
.container > div:hover {
    background: rgba(181, 178, 171, 0.5);
    transition-duration: .8s;
}
/*блок конец*/
/*инфо блок*/
h2 {
    text-align: center;
    font-size: 28px;
}
.info-block > p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    border-bottom: 2px solid #808080;
    padding-bottom: 15px;
    text-align: justify;
}
/*конец инфо блок*/
/*футер*/
footer {
    background: #D0D8E2;
    min-height: 200px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding-top: 80px;
}
/*конец футер*/