* {
    margin: 0;
    padding: 0;
}
body {
    padding: 15px;
    text-align: center;
    margin: 0 auto;
}
.modal {
    background: rgba(0,0,0,.2);
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    perspective: 500px;
}
.modal-wrap {
    width: 50%;
    max-width: 500px;
    top: 15%;
    background: #fff;
    position: absolute;
    box-shadow: 0 0 13px 0 rgba(0,0,0,0.4);
    padding: 5px 15px;
    border-radius: 22px;
    animation-name: drop;
    animation-duration: 0.8s;
}
@keyframes drop {
    from {
        opacity: 0;
        top: 5%;
        transform: rotateX(15deg);
    }
    to {
        opacity: 1;
        top: 15%;
        transform: rotateX(0deg);
    }
}
.modal-header {
    display: flex;
    justify-content: flex-end;
}
.modal-body {
    margin: 15px;
    line-height: 1.5;
    text-align: justify;
}
.closeBtn {
    cursor: pointer;
    font-size: 50px;
    color: #000;
}
button {
    border: none;
    padding: 15px 50px;
    background: #ff7726;
    color: #fff;
    border-radius: 22px;
    margin: 25px;
    font-weight: bold;
    cursor: pointer;
}