* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: normal;
    box-sizing: border-box;
}
body {
    background: #ffffff;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

/*home*/

.wrapper {
    width: 1055px;
    margin: 0 auto;
    box-sizing: border-box;
}

header {
    height: 110px;
    background: url(./images/h_b.png);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.high  {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    width: 263px;
    padding-top: 20px;

}
.high p {
    text-transform: uppercase;
}
#logo {
    margin-top: 5px;
}
.wrapper .high img {
    margin-top: 21px;
    margin-right: 12px;
}

.high p {
    margin-left: 21px;
}
.imain {
    margin: -27px 0;
    font-size: 18px;
    padding-left: 15px;
}
.smain {
    margin: -29px 0;
    font-size: 18px;
    padding-left: 15px;
}
.ask {
    padding: 0 20px 0 20px;
}
#button a {
    box-sizing: border-box;
    margin-right: -10px;
    background: #84293a;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    margin-top: 18px;
    display: inline-block;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
}
#button a:hover {
    border: 2px solid #84293a;
    color: #84293a;
    background: transparent;
}
.nav {
    margin-top: 110px;
    height: 90px;
}
.nav ul li a {
    color: #84293a;
}
.navbar a {
    color: #797979;
    background: #ededed;
    text-decoration: none;
    float: left;
    padding: 19px 3px 0 0;
    margin: 0 0 32px 0;
}
.navbar div:first-child a {
    text-decoration: underline;
}
.backg {
    background: #ededed;
    padding-bottom: 70px;

}
nav  {
    list-style: none;
    text-align: center;

}
nav ul li  {
    display: inline-block;
    box-sizing: border-box;
    padding: 29px 0 0 40px;
}
nav ul li a {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.clearfix {
    clear: both;
}
.banner {
    height: 670px;
    background: url(./images/banner.jpg) center no-repeat #f4f4f4;
    padding-top: 60px;
}

.banner nav {
    margin-top: 50px;
    height: 80px;

}
.banner .inforent {
    width: 492px;
    height: 178px;
    background: url(./images/a_frame.png);
    float: left;
    margin: -1px;
    margin-top: 260px;
    line-height: 60px;
    text-align: center;
}
.banner .inforent:last-child {
    margin-left: 50px;
}
.inforent a{
    font-size: 18px;
    color: #c9c9c9;
    text-decoration: none;
}
.inforent a:hover{
    text-decoration: underline;

}

.inforent h1 {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 15px 0 0 15px;
}
.inforent h2 {
    margin-top: -27px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}
.inforent p {
    font-size: 18px;
}
.about {
    height: 70px;
    font-size: 24px;
    font-weight: bold;
    color: #84293a;
    text-align: center;
    padding: 19px;
    box-sizing: border-box;
    text-transform: uppercase;
}
#cor {
    padding-right: 178px;
}
#cor2, #cor3 {
    padding-left: 50px;
}
#gray-block {
    height: 515px;
    background: #f4f4f4;
}

#gray-block .about-info {
    width: 50%;
    box-sizing: border-box;
    height: auto;
    float: left;
    margin-top: 40px;
    color: #222222;
}
#gray-block .about-info:last-child {
    padding-left: 40px;
    border-left: 2px solid #ffffff ;
    height: 190px;
}
.about-info2 {
    float: left;
    margin: 40px 0 50px -30px ;
}
.about-info2 p {
    font-size: 14px;
}
.landscape {
    margin: 40px 0 50px 45px;
    float: left;
}
.gallery {

    height: 500px;
    background: #f4f4f4;
}
.gallery img {
    margin-top: 32px;
    width: 33%;
    padding: 3px 10px;
}
.about-images {
    width: 1235px;
    margin: 0 auto;
}
.about-images img {
    margin: 40px 11px 0 12px;
    width: 31%;
    box-sizing: border-box;
}
.company {
    margin-top: 33px;
}
.iq {
    font-weight: bold;
    color: #84293a;
    text-transform: uppercase;
}
.ic a {
    text-decoration: none;
}
.ic a:hover {
    text-decoration: underline;
    color: #84293a
}
.ic a p {
   color: #84293a;
   text-transform: uppercase;
   font-weight: bold;
   margin: -21px 18px 0 50px;
}
.h {
    margin-top: 5px;
}
.gps {
    float: left;
    margin-right: 20px;
}
.gps p {
    padding-bottom: 30px;
}
.wrapper .ic div{
    float: left;
    display: inline-block;
    padding-right: 40px;
}

#news {
   width: 100%;
    height: 280px;
    background: #f4f4f4;
    display: inline-block;
}
#news .info-block {
    float: left;
    margin: 40px 20px 0 0;
    box-sizing: border-box;

}
#news div div:nth-child(2){
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    padding: 0 40px 0 25px;
}
.info-block h1:hover {
    text-decoration: underline;
}
#news h2 {
    color: #797979;
}
#news h1 {
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}
.news2 {
    float: right;
}
.news2 a {
    text-decoration: none;
    color: #797979;
}
.news2 a:hover {
    color: #84293a;
    text-decoration: underline;
}
.contacts {
    background: #f4f4f4;
    height: 140px;
}
.contacts2 {
    padding-top: 30px;

}
.wrapp-info {
    float: left;
    margin-right: 45px;
}

.wrapp-info p {
    padding-bottom: 14px;
}
#solid {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    margin: 0 31px 0 -10px;
    padding: 0 0 0 32px;
}
#solid2 {
    margin: 0 31px 0 -10px;
    padding: 0 0 0 32px;
}

#inf {
    float: left;
    margin-left: -38px;
}
.info-form {
    background: #f4f4f4;
    height: 560px;
}
form {
    float: left;
    margin-right: 150px;

}
.contact_form ul {
    list-style: none;
}
.contact_form ul li p {
    padding: 20px 0 0 0;
}
.contact_form select {
    width: 320px;
    padding: 15px 0 15px 13px;
    margin-top: 29px;
}
select {
    color: #797979;

}
.contact_form ul li:first-child p {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-left: 9px;
}
button {
    background: #84293a;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 0 15px 0;
    width: 320px;
    border: 2px solid #84293a;
    margin: 35px 0 35px 0;
}
button:hover {
    background: transparent;
    color: #84293a;
}
input, textarea {
    width: 320px;
    padding: 15px 0 15px 15px;
    color: #797979;
}
textarea {
    height: 110px;
}
.images ul  {
    float: left;
    list-style: none;
    padding: 22px 24px 20px 66px;
    border-left: 2px solid #ffffff;
}
.task {
    height: 340px;
}
.images {
    padding-top: 40px;
}
.images ul li:nth-child(2) {
    padding: 90px 0 90px 0;
}
.wrapp-info2 p {
    font-size: 18px;
}
.wrapp-info2:nth-child(2) {
    margin: 23px 0 57px 0;
}
.wrapp-info2:last-child {
    padding: 78px 0 0 0;
}
.mes li {
    float: left;
    list-style: none;
    margin: 81px 64px 0 -53px;
    text-transform: uppercase;
}
.mes li:first-child {
    margin-top: 75px;
}
.mes li:nth-child(2) {
    padding-right: 41px;
}
.mes li a {
    color: #84293a;
    text-decoration: none;
    font-weight: bold;
}
.mes li a:hover {
    text-decoration: underline;
}
footer p {
    color: #797979;
}
#map {
    width: 100%; height: 490px; padding: 0; margin: 0;
        }
footer {
    height: 130px;
    background: #222;
}

