body{
    box-sizing: border-box;
    font-family: 'Roboto', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
 nav a > div {
    display: inline-block;
    vertical-align: bottom;
}
 nav a:first-child img {
    width: 40px;
    height: 40px;
}
 nav div span {
    color: #ffcc00;
    text-decoration: none;
}
.container:first-child .row {
   background: linear-gradient(78deg, #aeac3a, #0ee692, #78e1b3, #166551, #1b68a7, #1ba783, #1ba79c, #00cc99);
}
.row {
    margin: 0 auto;
}
.container {
    padding: 0;
}
.fas{
    padding: 0 15px;
    margin: 25px 0;
    color: #ffcc00;
}
.fas:last-child span {
   text-align: center;
}
.fas span {
    color: #000000;
    padding-left: 5px;
}
.fas:hover {
    color: #000000;
    transition-duration: 0.8s;
}
.container:nth-child(3) nav {
    background: #00cc99;
}
.row .p-2 {
    text-align: center;
    line-height: 2.5;
}
.row .p-2:hover {
    color: #00cc99;
    transition-duration: 0.8s;
}
.text-justify {
    line-height: 2;
}
.container:nth-child(6) {
    background: #00cc99;
}
.copy {
    text-align: right;
}

@media (max-width: 768px){
    .navbar-brand{
        margin: 0 auto;
    }
    .fas {
        display: block;
        text-align: center;
        font-size: 24px;
    }
    .fas span{
        font-size: 20px;
        vertical-align: top;
        padding-left: 15px;
    }
    .fas:first-child span {
        margin-left: 26px;
    }
    .fas:nth-child(2)  {
        margin-left: 28px;
        padding-right: 19px;
    }
    .fas:nth-child(2) span {
        margin-left: 25px;
    }
    .fas:last-child span {
        margin-left: 29px;
        padding-right: 92px;
    }
    .container {
        max-width: 100%;
    }
}